<template>
    <div class="row-responsive">
      <div class="block block-transparent ">
        <img src="~/@/assets/rena-black.svg" class=" mt-8 img-inv home-logo" />
        <h1 class="ul main-title">rena</h1>
        <div class="desc-home">
          <div class="social-row">
          <a href=""><img src="~/@/assets/twitter.png" alt="" class=" social-icon"></a>
          <a href=""><img src="~/@/assets/telegram.png" alt="" class="  social-icon"></a>
          <a href=""><img src="~/@/assets/gitbooks.png" alt="" class="  social-icon"></a>
            </div>
          </div>
        <ModalLogin :open="modalLoginOpen" @close="modalLoginOpen = false" />
        <ModalMakePotion
          v-if="isValid"
          :open="modalMakePotionOpen"
          :form="form"
          @close="modalMakePotionOpen = false"
        />
      </div>  
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      form: {
        asset: '',
        quantity: '',
        strike: '',
        expiry: ''
      },
      modalLoginOpen: false,
      modalMakePotionOpen: false
    };
  },
  computed: {
    ...mapState(['settings']),
    isValid() {
      return (
        this.form.asset && parseFloat(this.form.quantity) && this.form.strike && this.form.expiry
      );
    },
    maxStrike() {
      const exchangeRate = this.settings.exchangeRates[this.form.asset];
      return exchangeRate && exchangeRate.usd ? exchangeRate.usd : 1e9;
    }
  },
  methods: {
    handleSubmit() {
      this.modalMakePotionOpen = true;
    }
  }
};
</script>
