<template>
  <div class="column">

    <div class="row-responsive">
      <div class="block block-fw block-transparent mb-0">
        <h1 class="section-title">REBALANCE</h1>
      </div>
    </div>

    <div class="wrap-responsive">



      <div class="rebalancer-module">
        <div class="rebalancer-title"><h2>RENA</h2></div>

        <div class="rebalancer-column">
          <div class="rebalancer-desc"><p>2% liquidity removed Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="rebalancer-button"><h1>REBALANCE</h1></div>
          <div class="rebalancer-social">
            <a href=""><img class="social-icon invert" src="~/@/assets/medium.png" alt=""></a>
            <a href=""><img class="social-icon invert" src="~/@/assets/etherscan.png" alt=""></a>
            <a href=""><img class="social-icon invert" src="~/@/assets/twitter.png" alt=""></a>
            <a href=""><img class="social-icon invert" src="~/@/assets/telegram.png" alt=""></a>
            </div>
          </div>
      </div>



      <div class="rebalancer-module">
        <div class="rebalancer-title"><h2>ITERATION SYNDICATE</h2></div>

        <div class="rebalancer-column">
          <div class="rebalancer-desc"><p>2% liquidity removed Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="rebalancer-button"><h1>REBALANCE</h1></div>
          <div class="rebalancer-social">
            <a href=""><img class="social-icon invert" src="~/@/assets/medium.png" alt=""></a>
            <a href=""><img class="social-icon invert" src="~/@/assets/etherscan.png" alt=""></a>
            <a href=""><img class="social-icon invert" src="~/@/assets/twitter.png" alt=""></a>
            <a href=""><img class="social-icon invert" src="~/@/assets/telegram.png" alt=""></a>
            </div>
          </div>
      </div>




    </div>

  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      form: {
        asset: '',
        quantity: '',
        strike: '',
        expiry: ''
      },
      modalLoginOpen: false,
      modalMakePotionOpen: false
    };
  },
  computed: {
    ...mapState(['settings']),
    isValid() {
      return (
        this.form.asset && parseFloat(this.form.quantity) && this.form.strike && this.form.expiry
      );
    },
    maxStrike() {
      const exchangeRate = this.settings.exchangeRates[this.form.asset];
      return exchangeRate && exchangeRate.usd ? exchangeRate.usd : 1e9;
    }
  },
  methods: {
    handleSubmit() {
      this.modalMakePotionOpen = true;
    }
  }
};
</script>
