<template>
  <div class="column">

    <div class="row-responsive">
      <div class="block block-fw block-transparent">
        <h1 class="section-title">RESERVE RENA</h1>
      </div>
    </div>

 
    <div class="row-responsive">
      <div class="block-transparent mb-2">

  <div class="capital mb-6">
    <h3>Initial Price determined from <b>total RENA / total ETH</b></h3> </div>

  <p>Your share will change as new contributions are made, as your share depends on the total ETH collected during the PBC.
Premia Received = 10M * (Your ETH Contribution / Total ETH Contribution)</p>
    <br></div>


</div>
<div class="wrap-responsive">
      <div class="presale-block">
        <div class="pre-top">
          <div class="pre-date">
            DAY 1
          </div>
          <div class="pre-val">
            12,000 RENA
          </div>
        </div>
         <div class="total-cont">
            <div class="pre-people">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user" class="svg-inline--fa fa-user fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg>
              </div>
              <div class="pre-people-val"><h3>500</h3>Holders</div>
            </div>
            <div class="pre-ether">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="ethereum" class="svg-inline--fa fa-ethereum fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
                </div>
              <div class="pre-ether-val"><h3>1000</h3>ETH</div>
            </div>
          </div>

            <div class="pre-bottom">
              <div class="reserve-button">
                <h2>RESERVE</h2>
              </div>
              <div class="preshare-row">
                <div class="yourshare"><p>Your Share</p>
                  <p><b>0 RENA</b></p>
                </div>
                <div class="yourcontrib"><p>Your Contribution</p>
                  <p><b>0 ETH</b></p>
                </div>
              </div>
            </div>
      </div>


 <div class="presale-block">
        <div class="pre-top">
          <div class="pre-date">
            DAY 2
          </div>
          <div class="pre-val">
            11,500 RENA
          </div>
        </div>
         <div class="total-cont">
            <div class="pre-people">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user" class="svg-inline--fa fa-user fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg>
              </div>
              <div class="pre-people-val"><h3>500</h3>Holders</div>
            </div>
            <div class="pre-ether">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="ethereum" class="svg-inline--fa fa-ethereum fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
                </div>
              <div class="pre-ether-val"><h3>1000</h3>ETH</div>
            </div>
          </div>

            <div class="pre-bottom">
              <div class="reserve-button">
                <h2>RESERVE</h2>
              </div>
              <div class="preshare-row">
                <div class="yourshare"><p>Your Share</p>
                  <p><b>0 RENA</b></p>
                </div>
                <div class="yourcontrib"><p>Your Contribution</p>
                  <p><b>0 ETH</b></p>
                </div>
              </div>
            </div>
      </div> 
      
      <div class="presale-block">
        <div class="pre-top">
          <div class="pre-date">
            DAY 3
          </div>
          <div class="pre-val">
            11,000 RENA
          </div>
        </div>
         <div class="total-cont">
            <div class="pre-people">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user" class="svg-inline--fa fa-user fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg>
              </div>
              <div class="pre-people-val"><h3>500</h3>Holders</div>
            </div>
            <div class="pre-ether">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="ethereum" class="svg-inline--fa fa-ethereum fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
                </div>
              <div class="pre-ether-val"><h3>1000</h3>ETH</div>
            </div>
          </div>

            <div class="pre-bottom">
              <div class="reserve-button">
                <h2>RESERVE</h2>
              </div>
              <div class="preshare-row">
                <div class="yourshare"><p>Your Share</p>
                  <p><b>0 RENA</b></p>
                </div>
                <div class="yourcontrib"><p>Your Contribution</p>
                  <p><b>0 ETH</b></p>
                </div>
              </div>
            </div>
      </div>
  

      <div class="presale-block">
        <div class="pre-top">
          <div class="pre-date">
            DAY 4
          </div>
          <div class="pre-val">
            10,500 RENA
          </div>
        </div>
         <div class="total-cont">
            <div class="pre-people">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user" class="svg-inline--fa fa-user fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg>
              </div>
              <div class="pre-people-val"><h3>500</h3>Holders</div>
            </div>
            <div class="pre-ether">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="ethereum" class="svg-inline--fa fa-ethereum fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
                </div>
              <div class="pre-ether-val"><h3>1000</h3>ETH</div>
            </div>
          </div>

            <div class="pre-bottom">
              <div class="reserve-button">
                <h2>RESERVE</h2>
              </div>
              <div class="preshare-row">
                <div class="yourshare"><p>Your Share</p>
                  <p><b>0 RENA</b></p>
                </div>
                <div class="yourcontrib"><p>Your Contribution</p>
                  <p><b>0 ETH</b></p>
                </div>
              </div>
            </div>
      </div>
      
      <div class="presale-block">
        <div class="pre-top">
          <div class="pre-date">
            DAY 5
          </div>
          <div class="pre-val">
            10,000 RENA
          </div>
        </div>
         <div class="total-cont">
            <div class="pre-people">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user" class="svg-inline--fa fa-user fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg>
              </div>
              <div class="pre-people-val"><h3>500</h3>Holders</div>
            </div>
            <div class="pre-ether">
              <div class="pre-icon">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="ethereum" class="svg-inline--fa fa-ethereum fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
                </div>
              <div class="pre-ether-val"><h3>1000</h3>ETH</div>
            </div>
          </div>

            <div class="pre-bottom">
              <div class="reserve-button">
                <h2>RESERVE</h2>
              </div>
              <div class="preshare-row">
                <div class="yourshare"><p>Your Share</p>
                  <p><b>0 RENA</b></p>
                </div>
                <div class="yourcontrib"><p>Your Contribution</p>
                  <p><b>0 ETH</b></p>
                </div>
              </div>
            </div>
      </div>
</div>

  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data() {
      return {
        form: {
          asset: '',
          quantity: '',
          strike: '',
          expiry: ''
        },
        modalLoginOpen: false,
        modalMakePotionOpen: false
      };
    },
    computed: {
      ...mapState(['settings']),
      isValid() {
        return (
          this.form.asset && parseFloat(this.form.quantity) && this.form.strike && this.form.expiry
        );
      },
      maxStrike() {
        const exchangeRate = this.settings.exchangeRates[this.form.asset];
        return exchangeRate && exchangeRate.usd ? exchangeRate.usd : 1e9;
      }
    },
    methods: {
      handleSubmit() {
        this.modalMakePotionOpen = true;
      }
    }
  };
</script>
