<template>
  <div class="column">
  
    <div class="row">
    <div class="block block-transparent ">

      <div class="stake-bubble-wrap">
        <div class="stake-bubble">
          <h2>TOTAL LP STAKED
          </h2>
          <div class="quant m-1">
            1,212.43
          </div>
        </div>
         <div class="stake-bubble">
          <h2>Rebalancer LP's
          </h2>
          <div class="quant m-1">
            800.4
          </div>
        </div> 
       
        </div>         

      </div>

    <div class="block block-fw">
        <div class="staked-title">
          <h1>RENA/ETH LP</h1>
        </div>
        <div class="stake-a">
            <div class="stake-column">    

            <div class="stake-row">
              <div class="column-centered ta-l"><h2>WALLET:</h2></div>
              <div class="column-centered ta-l mx-2 renaval"><h2>0.0000LP</h2></div>
                  <div class="column-centered"><div class="stake-button button-outline">
                    <h3>STAKE</h3></div></div>

          </div>
          <div class="stake-row">
              <div class="column-centered ta-l"><h2>STAKED:</h2></div>
              <div class="column-centered mx-2 renaval"><h2>0.0000LP</h2></div>
                    <div class="column-centered"><div class="stake-button button-outline">
                      <h3>UNSTAKE</h3></div></div>

            </div>

          </div>
          <div class="stake-b">

            <div class="claim-box mb-6">
            <div class="staked-title">
              <div class="column-centered"><h1>CLAIMABLE</h1></div>
              <div class="column-centered renaval"><h2>12,123.12</h2></div>
            </div>
            </div>

            <div class="stake-row">
              <div class="stake-column"><h3>CLAIM WITH</h3></div>
              <div class="stake-column"><h3>RENA</h3></div>
              <div class="stake-column"><h3>COST</h3></div>

            </div>
            <div class="ml-5 stake-row">

              <div class="stake-column ta-l">
                <div class="column-centered"><h2>ETH</h2></div>
              </div>
              <div class="stake-column">
                <div class="stake-row">
              <div class="stake-input">
                <input class="max-row" type="text">
                <div class="cur-max">MAX</div>
              </div>
                  
                  </div>

              </div>
              <div class="stake-column">
                <div class="stake-row">
                  <div class="stake-column mr-1">
                    <input type="text"></div>
                    <div class="stake-column ta-l mr-5">   
                    <h2>ETH</h2>               
                  </div> 
                  </div>
                  
                </div>
            </div>
            <div class="ml-5 stake-row">

              <div class="stake-column ta-l">
                <div class="column-centered"><h2>LP</h2></div>
              </div>
              <div class="stake-column">
                <div class="stake-row">
                   <div class="stake-input">
                <input class="max-row" type="text">
                <div class="cur-max">MAX</div>
              </div>
               </div>
              </div>
              <div class="stake-column">
                <div class="stake-row">
                  <div class="stake-column mr-1">
                    <input type="text"></div>
                    <div class="stake-column ta-l mr-5">   
                    <h2>LP</h2>               
                  </div> 
                  </div>
                  
                </div>
            </div>

                <div class="stake-button button-outline">
                <h3>CLAIM</h3>
              </div>
          </div>

        </div>
      </div>

    <div class="block block-transparent ">

      <div class="stake-bubble-wrap">
        <div class="stake-bubble">
          <h2>Your LP Stake
          </h2>
          <div class="quant m-1">
            13%
          </div>
        </div>
        <div class="stake-bubble">
          <h2>Average APR
          </h2>
          <div class="quant m-1">
            200%
          </div>
        </div>
        </div>         

      </div>
    </div>

    
    <div class="row-responsive">


<div class="block"><h1>ITERATION STAKING</h1><h2> TBA</h2>

  </div>

<div class="block"><h1>RENA TOKEN </h1><h2>TBA</h2>


  </div>
</div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data() {
      return {
        form: {
          asset: '',
          quantity: '',
          strike: '',
          expiry: ''
        },
        modalLoginOpen: false,
        modalMakePotionOpen: false
      };
    },
    computed: {
      ...mapState(['settings']),
      isValid() {
        return (
          this.form.asset && parseFloat(this.form.quantity) && this.form.strike && this.form.expiry
        );
      },
      maxStrike() {
        const exchangeRate = this.settings.exchangeRates[this.form.asset];
        return exchangeRate && exchangeRate.usd ? exchangeRate.usd : 1e9;
      }
    },
    methods: {
      handleSubmit() {
        this.modalMakePotionOpen = true;
      }
    }
  };
</script>
