@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support/index.scss';
@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
$primary: #f2f2f2;
$secondary: #6d6d6daa;
$bg-gradiant: radial-gradient(#edfdff 0%, #e9faffa3 100%);
$bg-topnav: #e9faffcc;
$bg-color: #999999;
$bg-disabled: #000000;
$text-disabled: #666274;

$body-font-size: 1.2rem;
$border-radius: 0.5rem;
$h1-size: 3rem;
$body-line-height: 1.2;
$border: 1px solid $bg-color;

@font-face {font-family: 'Europa-Regular';
  src: url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.eot');
  src: url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.woff2') format('woff2'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.woff') format('woff'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.ttf') format('truetype'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.svg#Europa Regular') format('svg');
}

@font-face {font-family: 'Europa-Bold';
  src: url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.eot');
  src: url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.woff2') format('woff2'),
  url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.woff') format('woff'),
  url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.ttf') format('truetype'),
  url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.svg#Europa-Bold') format('svg');
}

@font-face { font-family: 'funky';
  src: url('./assets/fonts/FunkyRundkopfTwoNF.ttf');
}

@font-face {font-family: 'elite';
  src: url('./assets/fonts/elitedangerbold.ttf');
}
@font-face {font-family: 'library';
  src: url('./assets/fonts/Library 3 am.otf');
}

@font-face {font-family: 'brain';
  src: url('./assets/fonts/Brain Wants.otf');
}
* {
  outline: none;
}

@import '~@primer/css/index.scss';

html, body, #app {
  text-align: center;@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
  font-family: 'brain';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
overflow-x:hidden;
background-size: cover;
background-attachment:fixed;
background-blend-mode: difference;
animation:flow 20s ease infinite;
color:black ;
}

@keyframes flow {
  0%{background-color:#5912ff99;
  }  
  50%{background-color:#8d12ff99;
  }
  100%{background-color:#5912ff99;
  }
}
@keyframes sieze{
  0%{animation:flow 1ms ease infinite;
  }
  50%{animation:flow 1000ms ease infinite;
  }
  100%{animation:flow 1ms ease infinite;
  }
}

.lg-txt{
  left: 50%;
  right: 50%;
  position: relative;
  font-size:3.5rem;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:2px 2px $primary}

.background2{
  overflow:hidden;
  height: calc(100vh + 64px);
  width: 100vw;
  position: fixed;
  top: -64px;
  z-index: 0;
  bottom: -32px;
  mix-blend-mode: overlay;
  filter:saturate(2.5) hue-rotate(320deg) contrast(0.3) brightness(1.5) invert(0);
  }
vue-particles{
  position:fixed;
}

#app {
  position:relative;
  letter-spacing:2px;
  z-index:1;
  display:flex;
  flex-flow:column;
  mix-blend-mode:overlay;
  background:#f2f2f2;
  justify-content: flex-start;
  background-size:contain;
  animation: shift 10s linear infinite;
  padding-bottom:4rem;
  min-height: 100vh;
  filter:invert(0);
}
@keyframes shift{

  0%{background-position-x:0%;}

  100%{background-position-x:100%;}
}


h1, h2, h3, .button {
  font-family: 'brain';
    text-shadow:2px 2px 5px rgba(0,0,0,0.2), -2px -2px 5px white;
      max-width:80vw;}
  h2{font-weight:800;}
  h2{font-size:2.5rem;font-weight:200;}
  h3{font-size:1.5rem;font-weight:400;}
h6 {
  color: $bg-color;
  font-size: 14px;
  font-weight: normal;

  a {
    color: $primary;
    text-decoration: underline;
  }
}
a {
  cursor: pointer;
  color: primary;

  &:hover {
    text-decoration: none;
  }
}
p{max-width:80vw;font-size:1.5rem;}
.bg-topnav {
  padding:1rem 0rem;
  height: 10rem;
  width: 100vw;
  /*background-image: linear-gradient(45deg, 
  transparent 0%, 
  transparent calc(100% - 8rem), 
  #4d4d4d calc(100% - 8rem), 
  #4d4d4d calc(100% - 7rem),
  transparent calc(100% - 7rem), 
  transparent calc(100% - 6rem), 
  #4d4d4d calc(100% - 6rem), 
  #4d4d4d calc(100% - 5rem),
  transparent calc(100% - 5rem), 
  transparent calc(100% - 4rem), 
  #4d4d4d calc(100% - 4rem), 
  #4d4d4d calc(100% - 3rem),
  transparent calc(100% - 3rem), 
  transparent 100%);*/
  display:flex;flex-flow:row;
}

.bg-secondary {
  background-color: $secondary;
}

.m-a{margin:auto;}

.inv-txt{  
  filter:invert(1);
}

.img-inv{
  width:64px;
  opacity:0.5;
}

.img-cen{
  margin-right:auto;
  margin-left:auto;
}
.stake-column{
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  min-width:100px;
}
.staked-title{
  h1{font-size:5rem;}
  width:100%;
  margin:1rem auto;
  position:relative;
}
.sale-row{
  display:flex;
  flex-flow:wrap;justify-content:center;}
.stake-row{
  display:flex;
  flex-flow:row;
  justify-content:space-between;
  width:100%;
}
.staked-value{
  width:max-content;
}
.stake-b{
  margin-top:2rem;
}
.claim-box{
  width:max-content;
  margin:auto;
  border-top-width:0px;
  padding:1rem;
}
.stake-button{
  @extend .button;
  border:1px solid $secondary;
  display:flex;
  flex-flow:wrap;
  justify-content:center;
}
.invert{filter:invert(1);}

.rebalancer-title{@extend .mb-4;}

.rebalancer-column{
  display:flex;
  flex-flow:column;
  width:100%;
  padding:1rem;
  max-width:512px;
  border-radius:1rem;  
  box-shadow:5px 5px 10px rgba(0,0,0,0.2), -5px -5px 10px white;
  border:3px solid #464646}

.rebalancer-module{
  display:flex;
  flex-flow:column;
  width:100%!important;
  max-width:512px;
  @extend .mx-4;@extend .my-2;}

.rebalancer-desc{
  color:black;
  font-weight:bold;
  text-shadow:1px 1px 2px $secondary;
  background-color:white;
  @extend .invert;  
  p{}
  border-radius:8px;
  @extend .px-4;
  @extend .py-3;
  @extend .m-1;
  @extend .mb-2;
  text-align:left;
}

.rebalancer-button{
  @extend .button-outline;
  width:calc(100% - 0.5rem);
  line-height:5rem!important;
  font-size:5rem!important;
  @extend .mb-4;
  margin:1rem auto!important;
}

.rebalancer-social{
  width:100%;padding:1rem;
  display:flex;flex-flow:row;justify-content: space-between;
}
.social-icon{width:64px;height:64px;opacity:0.7;transition:transform 100ms, opacity 100ms linear;
&:hover{transform:translatey(2px);opacity:0.9;}}
.invert{filter:invert(1);}
.social-row{
  width:300px;
  display:flex;
  margin:auto;
  flex-flow:row;
  filter:invert(0.8);
  justify-content:space-around;
  &:hover{  filter:invert(1);
  }
}

.tooltip {
  // ...

  &.info {
    $color: rgba(#004499, .9);

    .tooltip-inner {
      background: $color;
      color: white;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: 250px;
    }

    .tooltip-arrow {
      border-color: $color;
    }
  }
}



.presale-block{
  @extend .m-4;
  width:300px;
  flex-flow:column;
  overflow:hidden;
  display:flex;
  justify-content:space-between;
  min-height:500px;
  border-radius:1rem;
  border:3px solid #000000bd;
box-shadow:5px 5px 10px rgba(0,0,0,0.2), -5px -5px 10px white;
}

.reserve-button{
  @extend .button-outline;
  margin:1rem!important;
  @extend .mb-8;
}

.pre-ether{display:flex;flex-flow:column;}

.pre-people{display:flex;flex-flow:column;}

.total-cont{@extend .mt-6;display:flex;flex-flow:row;justify-content:space-around;}

.pre-icon{
  width:32px;
  margin:auto;
}

.pre-top{
  @extend .pb-6;
  @extend .pt-4;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0% 100%);
  background-color:#000000bd;
}

.preshare-row{
  @extend .px-3;

  display:flex;
  flex-flow:row;
  justify-content:space-between;
}

.pre-bottom{
  @extend .pt-4;
}

.yourshare{
  p{font-size:1rem;text-align:left;}
}

.yourcontrib{
  p{font-size:1rem;text-align:right;}

}

.pre-date{
  @extend .mt-2;
  color:white;
  font-size:3rem;
  font-weight:800;
}

.pre-val{
  @extend .my-2;
  color:white;
}

.stake-bubble-wrap{
  display:flex;
  flex-flow:column;
  justify-content:center;
}
.capital{
  text-transform: capitalize;
}

.quant{
  font-size:4rem;
  font-weight:800;
text-shadow:1px 1px 10px #000000bd;
}
.renaval{
  @extend .mx-2;
  font-weight:800;
  color:#6f6f6f;}
  .timeval{
    @extend .renaval;
  }
.stake-bubble{
  @extend .mb-6;
  border-radius:1rem;
  background-image: linear-gradient(45deg, #67809f 25%, #000 100%);
  box-shadow: 0px 4px #000000bd, 0px 2px 20px #0002;width:400px;
  height:400px;
  padding:2rem;
  display:flex;
  flex-flow:column;
  color:white;
  overflow:hidden;
  transition:transform 100ms, box-shadow 200ms ease;
  justify-content:center;
  .quant{font-size:5rem;}
  h2{font-size:2rem;}
  
}

.stake-main{
  display:flex;
  flex-flow:column;
  justify-content:center;
}

.ex-box{
  @extend .mt-4;
  @extend .mb-0;
  display: flex;
  flex-flow: row;
  padding: 1rem;
  border-radius:8px;
  margin: 1rem 0rem;
  background:$primary;
  border: 2px solid $secondary;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  max-width: 368px;
}
.button-small{
  width:max-content;
  margin:auto;
  height:auto!important;
  padding:1rem!important;
}


@keyframes bounce{
  0%{transform:translatey(0px);}
  0%{transform:translatey(2px);}
  0%{transform:translatey(0px);}
  0%{transform:translatey(2px);}
  0%{transform:translatey(0px);}
}
.button-dropdown{
  &:hover{
    cursor:pointer;
    &p{animation:bounce 1s linear;}

  }

}
.row{display:flex;flex-flow:row;justify-content:center;}

.button {
  cursor: pointer;
  font-weight: bold;
  min-width: 200px;
  padding: 0 24px;
  display: inline-block;
  border: 0;
  color: black;
  background-color: white;
  &:disabled {
    color: white;
    background-color: black;
    border: 0;
    cursor: not-allowed;
  }
}
.light-text{font-weight:100;}

.button-primary {
  margin:auto;
  height: auto;
  line-height: 3rem;
  text-transform: uppercase;
  color: black;
  border-radius:8px;
  background-color:white;
  box-shadow:
  2px 2px 5px rgba(0,0,0,0.2), -2px -2px 5px white;
  transition:box-shadow 100ms, transform 100ms, border 100ms linear;
  &:hover {
    color: $primary;    
    transform:translatey(2px);
    background-color: $secondary ; 
    box-shadow:
    -2px -2px 5px rgba(0,0,0,0.5), 2px 2px 5px white;
    ;
   }
}

.ta-l{
  text-align:left;
}
.input-background{
  background-color:#aaaaaa;
}
.block-transparent{    
  background: unset!important;
  border: none!important;
  box-shadow: unset!important;
}
.stake-row{
  display:flex;
  flex-flow:row;
  width:inherit;
  padding: 0.5rem 0.5rem;
}

.button-outline {
  @extend .button-primary;
  color: black;
  font-weight: bold;
  padding:  1rem;
  line-height: 2rem;
  margin: 1rem;
  background-image: linear-gradient(45deg, #ccc 0%, #eee 100%);
  &:hover{
    cursor:pointer;
    color: $primary;
    background-image: linear-gradient(-45deg, #222 0%, #555 100%);

  }
}
.button-mini{
  @extend .button-primary;
  height: 3rem;
  line-height: 2.6rem;
}
.stake-title{
  padding-right:0.5rem;
}
.section-title{
  font-size:5rem;
}

.button-outline-sm {
  height: 42px;
  line-height: 38px;
  border-radius:8px;
  font-size: 15px;
  text-transform: uppercase;
  color: $secondary;
  background-color: $primary;
  padding:0px 1rem;
  transition:box-shadow 100ms ease;
  cursor:pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
}
.fw{
  width:inherit;
}
.button-center{
  max-width: 200px;
  margin: 1rem auto;}

.button-outline-sm:hover {    
  color: $primary;
  background-color: $secondary;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.2);

}
.light-text{font-weight:lighter;}

.home-logo{
  @extend .logo;
  @extend .mt-0;
  @extend .mb-0;
  padding: 0rem!important;
opacity: 1!important;
transition: transform 200ms, box-shadow 200ms linear;
  max-width:50vw;
  mix-blend-mode: darken;
  width:400px!important;
  &:hover{
  }
}

.column-centered{display:flex;flex-flow:column;justify-content:center;}

.light-title{color:$primary!important;}

.ul{padding-bottom:1rem;
  max-width: max-content;
  margin:1rem auto;
 }
.main-title{
font-weight: bold;
text-shadow: 0px 0px 50px white;
font-size: 4rem;font-family: 'brain';
letter-spacing: 3rem;
transition:letter-spacing 500ms ease;
padding-left:48px;
&:hover{letter-spacing:3.2rem;}
}
.button-info {
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  color: white;
  background-color: $secondary;
  min-width: auto;
  border-radius:0.5rem;
}
.tick-sym{
  height:60px;
  filter:invert(1); 
  padding:2px;
  margin:auto 32px;
  transition:filter 100ms linear;
  &:hover{     
    filter:invert(0); 

  }
}

.cur-input{
  background-color: #4d4d4d;
  padding: 1rem;
  width: 100%;
  display:flex;flex-flow:row;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  input.max-row{
    margin-right:unset!important;
    background:white;
    border-bottom-right-radius:unset;
    border-top-right-radius:unset;
    max-width:148px;
  }
}
.stake-input{@extend .cur-input;
  background-color: transparent;
  padding: 0rem;}
.cur-max{border-top-left-radius:0px;
  height:3rem;
  padding:0px 8px;
  margin:auto 0px;
  padding-right:10px;
  box-shadow:inset -3px 0px 0px 2px $secondary;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  background:white;
  opacity:0.9;
  color:$secondary;
  display:flex;
    flex-flow:column;
  justify-content:center;
  &:hover{
    cursor:pointer;
    background:$secondary;
    color:$primary;}
}

.cur-title{
  @extend .py-2;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: white;     

  border-bottom:unset;
}
.cur-heading{
  @extend .mb-8; 
}
.swap-inputs{height:auto;}
.swap-button{
  @extend .button-primary;
  margin:0rem 1rem;
  margin-right:unset;
  border-radius:1rem;
  display:flex;
  flex-flow:column;
  justify-content:center;
  padding:1rem;
  width:auto;height:auto;
  h2{  font-weight:bolder;
  }
  &:hover{
    cursor:pointer;  
}
}

.cur-row{
  @extend .mb-3;
  margin:auto;
  display:flex;
  flex-flow:row;
  justify-content:space-between;}

.cur-col{
  border-radius:1rem;
  min-height:124px;
  width: auto;
  display:flex;
  flex-flow:column;  

}
.swap-col{@extend .cur-col;
  box-shadow: -2px -2px 5px white, 2px 2px 5px rgba(0,0,0,0.2);
}
.swap-arrow{
  display:flex;
  flex-flow:column;
  justify-content:center;
  padding:1rem;
  margin:auto;
  width:100%;}

.button-select {
  color: white;
  height: 54px;
  line-height: 54px;
  padding: 0 18px;
  border-radius: 8px;;
  background-color: $secondary;
  
  &.active {
    box-shadow: inset 0 0 0 3px $primary;
  }
}
.ticker{    
  display: flex;
  margin: auto;
  color:white;
  line-height: 64px;
  text-shadow:unset;
  font-weight:200;
  filter:invert(0.9);
  transition:text-shadow 100ms linear;
  &:hover{
    filter:invert(0.7);      
  }
}

.login-bullet {
  width: 14px;
  height: 14px;
  background-color: $primary;
  display: inline-block;
  margin-bottom: -2px;
}
.logo-static{  
  width: 128px;
}
.logo{
  margin: auto;
  width: 256px;
  padding:2rem;
  opacity:0.5;
  transition:transform 200ms, box-shadow 200ms linear;
  &:hover{
    transform:scale(1.05);}
}
@keyframes logo-glow{
  0%{  filter: invert(0%)sepia(100%)brightness(100%)blur(2px);
  }
  50%{  filter: invert(0.2)sepia(00%)brightness(90%)blur(1px);
  }
  100%{  filter: invert(0%)sepia(100%)brightness(100%)blur(2px);
  }
}

.mainnav {
  min-height: 3rem;
  line-height: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top:1rem;
  padding: 1rem 4rem;
  z-index: 2;
  position: relative;
  max-width:100%;
}
.prog-title{min-width:250px;text-align:left;}
.prog-row{
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
}

.button-secondary {
  height: 2rem;
  letter-spacing:2px;
  line-height: 2rem;
  font-size: 2rem;
  font-weight:400;
  margin:0rem 1rem;    
  color: gray;
  text-shadow:-2px -2px 5px white, 2px 2px 5px rgba(0,0,0,0.2);
  transition:color 100ms linear;
    background-color: transparent;
  &:hover{color:rgb(136, 94, 94);  
    text-shadow:2px 2px 5px white, -2px -2px 5px rgba(0,0,0,0.2);

  }
  &.router-link-exact-active {
    color: #222222;
    font-weight:bolder;

  }
}

.row-responsive{
  display:flex;
  flex-flow:row;
  justify-content:center;
  width:1000px;
  max-width:100vw;
  margin:auto;
 &:nth-child(1){ 
 }
}
.wrap-responsive{
  display:flex;
  flex-flow:wrap;
  justify-content:center;
  width:100%;
  max-width:100vw;
  margin:auto;

}


.stake-row{
  justify-content: space-around;
}

.column{
  display:flex;
  flex-flow:column;
  justify-content:space-between;
}

.form {
  max-width: 368px;
  margin: 0 auto;
  border:3px solid $secondary;
  background:$secondary;
  border-radius:10px;
  box-shadow:0px 0px 10px $secondary
}
.value{
  font-weight:bold;
  font-size:2rem;
  text-shadow:0px 1px 0px rgba(0,0,0,0.8);}
.button-fw
{width:-moz-available;
  width:available;
}
.input-row{
  margin:0px 0.5rem;
  max-width:150px;
}

.input-row-outlined{
  margin:0px 0.5rem; 
   border: 2px solid white;
  width:auto;
}

.input {
  box-shadow:inset 0px 0px 2px #FFFFFF6B, 0px 0px 2px #FFFFFF6B;
  text-align: left;
  border: 2px solid rgba(255,255,255,0.2);
  background: white;
  outline: none;
  display: block;
  border-radius:8px;
  height: 44px;
  line-height: 44px;
  font-size: 1rem;
  padding: 0 14px;
  color: $secondary;
  width: 100%;

  &:focus {
    border-color: $bg-color;
  }
}

input.input:read-only {
  color: $text-disabled;
  border-color: $text-disabled;
  cursor: not-allowed;
}

::placeholder {
  color: white;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border: 0;
  background-clip: padding-box;

  &:hover {
    background-color: white;
  }
}
@keyframes glow{
  0%{    text-shadow:1px 1px 0.5px #0206ec,0px 0px 0px ;
}
  50%{    text-shadow:1px 1px 0.5px #0206ec ,0px 0px 20px ;
}
  100%{    text-shadow:1px 1px 0.5px #0206ec ,0px 0px 0px ;
}}
input{
  @extend .mx-2;
  @extend .my-2;
  @extend .px-2;
  @extend .py-2;
  height:3rem;
  border: 3px solid #6d6d6daa;  
  border-radius:8px;
  box-shadow:inset 0px 0px 10px #1111112b;
  color:primary;
  font-size:2rem;
  background-color:white;
   max-width:200px;
  &:focus{background-color:$secondary;
  color:$primary;}
}

.data-row{
  justify-content: space-between;
  width:100%;
}

.block-fw{
  min-width:40%;
  max-width:unset;
}
.block-transparent{
  background-image:unset;
  background-color:unset;
}

.block-outline{  
  @extend .block;
  @extend .mb-8;
}

.block {
  //@extend .container-sm;
  @extend .py-6;
  @extend .px-4;
  @extend .my-3;
  border-radius:20px;
  margin-left:1rem;
  margin-right:1rem;
  margin-bottom:2rem;
  height:auto;
  justify-content: center;
  display: flex;
  flex-flow: column;
  transition:transform 100ms, box-shadow 100ms linear;
  //clip-path: polygon(100% 0, 100% 3rem, calc(100% - 1rem) 4rem, calc(100% - 1rem) calc(100% - 5rem), 100% calc(100% - 4rem), 100% 100%, 1rem 100%, 0 calc(100% - 1rem), 0 1rem, 1rem 0);
  p {
    max-width: 800px;
    margin: 0 auto;
  }
  
  ///&:nth-child(even){  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%, 0 calc(100% - 1rem), 1rem calc(100% - 2rem), 1rem 2rem, 0 1rem);
  ///}
  ///&:nth-child(3n - 2){    clip-path: polygon(calc(100% - 1rem), calc(100% - 1rem) 2rem, 100% 2rem, 100% calc(100% - 2rem), calc(100% - 1rem) calc(100% - 2rem), calc(100% - 1rem) 100%, 1rem 100%, 0 calc(100% - 1rem), 0 1rem, 11% 0);    ;
  ///}

}

@keyframes breath{
  0%{filter:brightness(1)}
  50%{filter:brightness(1.1)}
  100%{filter:brightness(1)}
}

.block-row{
  width:1000px!important;
  max-width:unset!important;
}

.container-lg {
  max-width: 1086px;
}

.container-sm {
  max-width: 500px;
}

.flex-row{
  display:flex;flex-flow:row;justify-content:center;
}

.modal {
  filter:invert(1);
  background-color:#4d4d4d;
  .backdrop {
    background: transparentize($secondary, 0.4) !important;
  }

  .shell {
    @extend .block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 420px;

    .modal-body {
      text-align: center !important;
    }
  }

  .button {
    width: 100%;
    min-width: auto;
  }

  .button-outline {
    max-width: 50%;
  }
}

.claim-row{display:flex;flex-flow:row;width:100%;}

.text-primary {
  color: $primary;
}

.vue-ui-switch {
  &.selected {
    .wrapper {
      background-color: $primary !important;
    }

    .bullet {
      margin-left: 21px !important;
    }
  }

  .wrapper {
    width: 42px !important;
    height: 20px !important;
    border-radius: 10px !important;
    background-color: $secondary !important;

    .bullet {
      width: 18px !important;
      height: 18px !important;
      border-radius: 9px !important;
      background-color: white !important;
    }
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize(white, 0.8);
    border-width: 4px !important;
    width: 26px !important;
    height: 26px !important;
    border-right-color: white;
  }
}

.loading-lg {
  .animation {
    border-color: transparent;
    border-right-color: $primary;
    border-width: 8px !important;
    width: 124px !important;
    height: 124px !important;
  }
}

.calendar {
  width: 309px;
  margin: 0 auto;

  .day {
    color: $text-disabled;
    text-decoration: none;
    font-size: 17px !important;
    float: left;
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;

    &.selectable {
      color: white;
      background-color: transparent;

      :hover {
        background-color: $bg-color;
      }
    }

    &.selected {
      background-color: $bg-color;
      color: white;
    }
  }
}

.highlight:hover {
  background-color: $secondary;
}

@media screen and (max-width:1300px){
  .row{flex-flow:column;margin:auto;}
  .stake-bubble-wrap{
    justify-content:space-around;
    flex-flow:row;
    width:100%;
  }
  .swap-inputs{margin:revert!important;}
  .stake-row{    
    display: flex;
    width: inherit;
    justify-content: space-around;}
    .swap-arrow{h1{transform:rotate(90deg);}}
    .button-secondary {
      margin:1rem;
    }
    .stake-bubble{margin:2rem;}
    .swap-button{
      padding-right:1rem;
      h2{
        transform:rotate(90deg)scale(3);
      }
    }
    .quant {
      font-size: 3rem!important;
      font-weight: 800;
      text-shadow: 1px 1px 15px #000000bd;
  }
}

@media screen and (max-width:1000px) {
  .data-row{
    margin-bottom:2rem;
    justify-content:space-between!important;
    max-width:430px;}

  .main-title{
    font-weight: bold;
    text-shadow: 0px 0px 50px white;
    font-size: 2rem;
    padding-left:0px;
    }


    .reserve-button{width:auto!important;
    }
  .button-outline{width: min-content;}
  h3{font-size:1rem!important;}
  h2{font-size:2rem!important;}
  h1{font-size:2.5rem!important;}
  .stake-bubble{
    width:250px;
    height:250px;
   
  }
.lg-txt{display:none;}
  .bg-topnav{
    height:unset;
    flex-flow:wrap;
  }
  .column{
    flex-flow:wrap;
  }
  .row-responsive{
    flex-flow:wrap;

  }

  .main-title{
    font-size:3rem;
  }
  .cur-row{flex-flow:wrap;
    justify-content:center;
  }
.section-title{font-size:3rem;font-weight:800!important;letter-spacing:2px;}
.button-secondary {
  height: 2rem;
  letter-spacing:2px;
  line-height: 2rem;
  font-size: 2rem;
  margin:0.5rem auto;
  color: $primary;
  transition:color 100ms linear;
    background-color: transparent;
  &:hover{color:#ffffff55;}
  &.router-link-exact-active {
    color: #878787;
    animation:glow 10s ease infinite;
    background-color:  transparent;

  }
}
.stake-bubble-wrap{flex-flow:wrap;}
  .tick-sym{margin-left:0px;margin-right:0px; padding:2px;}
  .mainnav{height:auto;justify-content:space-between;}
  .block{margin-bottom:1rem;
    width: 100%;
    max-width: 80vw;}

  .bg-topnav{  
  }
}

@media screen and (max-width:1300px) {
  .column{
    flex-flow:wrap;
  }
  .row-responsive{
    flex-flow:wrap;

  }

}